.about-page {
    margin-block: 2em;
    > div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-inline: var(--inline);

        > div {
            margin-top: 1em;
            width: 90%;
        }
    }
}